/* style sheet for profile page */

body {
	/*background-color for the page */
	background: linear-gradient(
		0.25turn,
		#E6C6D8, 
		#E0A7C6, 
		#E29DC2,
		#E788BB,
		#DAAFD8,
		#CCD6F4 
	);
	margin: 5%;
	
}

.container{
	/* color and font of form */
	background-color: #FFFFFC;
	color: #153654;
	font-family: Optima;

	/* 	
		- makes form take up 70% of creeen horizonitally (width)
		- adds spacing at the top of form and between header and form 
		-positions form in center of page(margin) 
	*/
	padding: 5%;
	width: 70%;
	margin: auto;
}


/* changes font of placeholders for each form element */
input::placeholder{
	font-family: Optima;
}

/*Changes color of submit button hover*/
input[type=submit]:hover{
	background-color: #ccd6f4;
}

/* Makes the header font size bigger if px over 600px */
@media screen and (min-width: 601px)
{
	h1{
		font-size: 60px;
	}
}

/* Makes the header font size smaller if px under 600px */
@media screen and (max-width:600px)
{	
	h1{
		font-size: 20px;
	}
}